
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100vw;
  height: 100vh;

  margin: 0;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
}

.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.frontBox_container1 {
  position: absolute;
  z-index: 8;
}